@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,300,700");

body {
    background: #F1F2F4;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", Arial, sans-serif;
    color: #0066B3;
    font-weight: 300;
    margin-top: 0px;
}

h1 {
    font-size: 36px;
    font-weight: 300;
}

h2 {
    font-size: 32px;
    font-weight: 300;
}

h3 {
    font-size: 28px;
    font-weight: 300;
}

h4 {
    font-size: 22px;
    font-weight: 300;
}

h4 strong {
    font-weight: 400;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

iframe {
    max-width: 100% !important;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 50px;
    color: #b0b0b0;
    font-size: 16px;
    padding: 0px 20px;
    border: 1px solid #e4e4e4;
    outline: none !important;
    border-radius: 3px;
}

input[type="button"], input[type="submit"], input[type="reset"], button {
    text-align: center;
    color: #fff !important;
    font-size: 16px;
    line-height: 50px;
    white-space: nowrap;
    background-color: #fa7268;
    padding: 17px 25px 17px 25px;
    border: 0px;
    outline: none !important;
    border-radius: 3px;
    -webkit-transition: color .2s ease, background-color .2s ease;
    transition: color .2s ease, background-color .2s ease;
    line-height: 1;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
    background-color: #ef675d;
}

.registration,
.authorization,
.logout {
    margin-top: 60px;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}

.registration .title,
.authorization .title {
    text-align: center;
}

.registration .info,
.authorization .info {
    display: none;
}

.registration .info i,
.authorization .info i {
    font-size: 14px;
}

.registration .info.error,
.authorization .info.error {
    color: #fa7268;
}

.registration .info.success,
.authorization .info.success {
    color: green;
}

.registration form > input[type="text"],
.registration form > input[type="password"],
.authorization form > input[type="text"],
.authorization form > input[type="password"] {
    margin-top: 20px;
    width: 25%;
}

.registration form > input:not(:last-child),
.authorization form > input:not(:last-child) {
    margin-right: 10px;
}

.registration form > input[type="submit"],
.authorization form > input[type="submit"] {
    margin-top: 20px;
    width: 21%;
    vertical-align: top;
}